.wContainer {
    position: relative;
    height: 100vh;
    padding-top: 30px;
    overflow: hidden;
}

.wContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../assets/weather-image.jpg") no-repeat center center / cover;
    z-index: 1;
}

.wContainer.blur::before {
    filter: blur(3px) brightness(0.7);
}

.wContent {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.wTitle {
    text-align: center;
    text-shadow: 0px 0px 0px white;
    color: white;
    font-weight: bold;
    font-family: "Times New Roman", Times, serif;
    font-size: 80px;
    margin: 40px 0px;
}

.wInputContainer {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.wInput {
    width: 650px;
    height: 50px;
    font-size: 24px;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: white;
    box-shadow: inset 3px 3px 4px rgba(0, 0, 0, 0.4),
        inset -3px -3px 4px rgba(0, 0, 0, 0.4);
}

.searchButton {
    height: 50px;
    font-size: 20px;
    padding: 0 15px;
    padding-bottom: 3px;
    font-weight: 600;
    color: white;
    background-color: #0078d4;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.searchButton:hover {
    background-color: #005a9e;
}
