.wContainer{
    width: 700px;
    margin: 0 auto;
    padding: 0;
}

.wTitle{
    font-size: 80px;
    text-align: center;
    margin: 15px auto;
    padding: 0;
}

.wInputContainer{
    width: 700px;
}

.wInput{
    width: 500px;
    height: 30px;
    margin: 10px;
    margin-left: 60px;
    padding: 0px;
}

.searchButton{
    width: 60px;
    height: 30px;
    margin: 0 auto;
}

